<!DOCTYPE html>
<html>
<head>
	<title>Surat Perintah Kerja</title>
</head>
<body>
	<img src="*header*" width="700px" height="70px" />
	<table style="margin-top: 10px; margin-bottom: 10px;">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="50%">
				<table style="height: 100%; width: 100%;">
						<tr>
							<td width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AGENCY</td>
							<td width="10px">:</td>
							<td width="450px" align="left">*target_agency*</td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PERIOD</td>
							<td>:</td>
							<td align="left">*date_from* s/d *date_to*</td>
						</tr>
				</table>
			</td>
			<td width="50%">
				<table style="height: 100%; width: 100%;">
						<tr>
							<td width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACC</td>
							<td width="10px">:</td>
							<td width="450px" align="left">*no_akun*</td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AREA</td>
							<td>:</td>
							<td align="left">*cst_municipality*</td>
						</tr>
				</table>
			</td>
		</tr>
	</table>
	<table style="font-size: 10pt;" width="100%">
		<tr>
			<td>&nbsp;&nbsp;&nbsp;</td>

			<td colspan="3" align="left">
				<table style="font-size: 10pt;">
						<tr width="100%">
							<td width="220px">NO KONTRAK</td>
							<td width="5px">:</td>
							<td>*no_kontrak*</td>
						</tr>
						<tr>
							<td>NAMA</td>
							<td>:</td>
							<td>*nama*</td>
						</tr>
						<tr>
							<td>USIA</td>
							<td>:</td>
							<td>*umur*</td>
						</tr>
						<tr>
							<td>JENIS KELAMIN</td>
							<td>:</td>
							<td>*jenis_kelamin*</td>
						</tr>
						<tr>
							<td>NOMOR VA</td>
							<td>:</td>
							<td>*va_number*</td>
						</tr>
						<tr>
							<td>JUMLAH PINJAMAN</td>
							<td>:</td>
							<td>Rp. *jml_pinj*</td>
						</tr>
						<tr>
							<td>SISA POKOK PINJAMAN</td>
							<td>:</td>
							<td>Rp. *sisa_pokok_pinj*</td>
						</tr>
						<tr>
							<td>TUNGGAKAN ANGSURAN</td>
							<td>:</td>
							<td>Rp. *tunggakan_angs*</td>
						</tr>
						<tr>
							<td>ANGSURAN POKOK</td>
							<td>:</td>
							<td>Rp. *angs_pokok*</td>
						</tr>
						<tr>
							<td>TOTAL DENDA</td>
							<td>:</td>
							<td>Rp. *tot_denda*</td>
						</tr>
						<tr>
							<td>COLLECTION FEE</td>
							<td>:</td>
							<td>Rp. *collection_fee*</td>
						</tr>
						<tr>
							<td>VA FEE</td>
							<td>:</td>
							<td>Rp. *va_number_fee*</td>
						</tr>
						<tr>
							<td>DPD/BUCKET</td>
							<td>:</td>
							<td>*dpd_bucket* Hari</td>
						</tr>
						<tr>
							<td>PRODUCT</td>
							<td>:</td>
							<td>*r_product_name*</td>
						</tr>
						<tr>
							<td>TENOR</td>
							<td>:</td>
							<td>*tenor* Bulan</td>
						</tr>
						<tr>
							<td>ANGSURAN YG SUDAH DIBAYAR &nbsp;</td>
							<td>:</td>
							<td>*angs_sdh_dibayar*</td>
						</tr>
						<tr>
							<td>TGL BAYAR TERAKHIR</td>
							<td>:</td>
							<td>*tgl_bayar_trakhir*</td>
						</tr>
						<tr>
							<td>JUMLAH BAYAR TERAKHIR</td>
							<td>:</td>
							<td>Rp. *tot_last_payment*</td>
						</tr>
				</table>
			</td>
			<td width="25%" align="right">
				<img src="*imgprofile*" alt="img_profile" height="300px" width="240px"/>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>

	<table width="100%">
		<tr> 
			<td colspan="3" align="left">
				<table style="font-size: 10pt;" width="100%">
					<tr width="100%">
						<td width="212px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BARANG YG DIBELI</td>
						<td width="5px">:</td>
						<td>*item*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALAMAT DOMISILI</td>
						<td>:</td>
						<td>*cst_address*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALAMAT KTP</td>
						<td>:</td>
						<td>*cst_address_ktp*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HANDPHONE 1</td>
						<td>:</td>
						<td>*hp1*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PERUSAHAAN</td>
						<td>:</td>
						<td>*emd_company_name*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALAMAT KANTOR</td>
						<td>:</td>
						<td>*cst_work_address*</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO TELP KANTOR</td>
						<td>:</td>
						<td>*cst_work_phone_no*</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>

	<table style="font-size: 10pt; margin-left: 45px" width="100%">
		<tr width="100%">
			<td colspan="3" align="left">
				<table style="font-size: 10pt;">
					<tr width="100%">
						<td width="20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HASIL VISIT :</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table style="font-size: 10pt; margin-left: 45px" width="100%">
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
			&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				<img src="*footer*" width="180px" height="60px" />
			</td>
		</tr>
		<tr>
			<td width="75%">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%">
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td width="75%">
			&nbsp;&nbsp;&nbsp;
			</td>
			<td width="25%" align="right">
				<b style="font-size: 14pt; ">*nama*</b>
			</td>
		</tr>
	</table>
</body>
</html>